html, body {
    height: 100%;
    width: 100%;
  }
   body{
     background-color: rgb(177, 177, 177);
   }

   h1 {
    color: blue;
   }
   
   h2 {
    color:blue;
   }

  h3 {
    color: black
  }

  h4 {
    color: red;
  }

  h5 {
    color: cyan;
  }

  .zoom {
    transition: transform .2s; /* Animation */
    margin: 0 auto;
  }
  
  .zoom:hover {
    transform: scale(0.9); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

  .link:hover {
opacity: 0.5
  }